<% if (title) { %>
<h1 class="det-title"><%= title %></h1>
<% } else {
  res.redirect('/')
} %>

<%- messages() %>
<% if (errors) { %>
  <ul class="notice">
 <% errors.array().forEach(error => { %>
   <li><%= error.msg %></li>
<%  }) %>
 </ul>
<% } %>

<%- view %>

<div class="wishlist-section">
    <% if (locals.loggedin && !isInWishlist) { %>
        <form action="/account/wishlist/add" method="POST" id="addToWishlistForm">
            <input type="hidden" name="inv_id" value="<%= data.inv_id %>">
            <button type="submit" class="link-button">Add to Wishlist</button>
        </form>
    <% } %>
</div>